/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Whitney";
  src: font-url("whitney.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Whitney";
  src: font-url("Whitney-Medium.otf") format("otf");
  font-weight: 500;
}

@font-face {
  font-family: "Whitney";
  src: font-url("Whitney-Bold.otf") format("otf");
  font-weight: 700;
}

html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,form,label,article,aside,
canvas,figure,footer,header,nav,section,ul,ol,li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  color: inherit;
  background-image: none;
}


 html, body {
   line-height: 1.15;
   height: 100%;
   margin: 0;
 }


 body {
   font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 400;
   line-height: 1.15;
 }

 #root {
   height: 100%;
 }