.channel-modal {
  width: 440px;
  height: fit-content;
  position: absolute;
  margin-left: -220px;
  margin-top: -119px;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  background-color: #36393f;
  outline: none;
}

.channel-form {
  .channel-form-header {
    padding: 20px 20px;

    h1 {
      color: #f6f6f7;
      text-transform: uppercase;
      letter-spacing: .3px;
      font-weight: 600;
      line-height: 20px;
      font-size: 16px;
    }
    h2 {
      color: #b9bbbe;
      line-height: 16px;
      font-size: 12px;
    }
  }

  .channel-form-content {
    padding: 0 20px;

    h2 {
      color: #b9bbbe;
      text-transform: uppercase;
      letter-spacing: .5px;
      font-weight: 600;
      line-height: 16px;
      font-size: 12px;
      margin-bottom: 8px;
    }
    input {
      background-color: rgba(0, 0, 0, .1);
      border-color: rgba(0, 0, 0, .3);
      color: #f6f6f7;
      height: 40px;
      padding: 10px;
      border-radius: 3px;
      font-size: 16px;
      border-style: solid;
      border-width: 1px;
      box-sizing: border-box;
      transition: background-color .15s ease, border .15s ease;
      width: 100%;
      outline: 0;
      margin-bottom: 20px;
    }
    input:hover {
      border-color: #040405;
    }
    input:focus {
      border-color: #7289da;
    }
  }

  .channel-form-buttons {
    display: flex;
    justify-content: space-between;
    background-color: #2f3136;
    border-radius: 0 0 5px 5px;
    padding: 20px;

    button, input {
      cursor: pointer;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      border: none;
    }
    button {
      padding: 2px 16px;
      background: none;
    }
    button:hover{
      border-bottom: 1px solid white;
    }
    input {
      background-color: #7289da;
      height: 38px;
      width: 150px;
      padding: 2px 16px;
      border-radius: 3px;
      transition: background-color .15s ease;
    }
    input:hover {
      background-color: #677bc4;
    }
  }
}