.server-members {
  width: 100%;
  flex-shrink: 0;
  height: 100%;

}
.member-ul {
  width: 100%;
  display: flex;
  background-color: #2f3136;
  flex-direction: column;
}

.member-category{
  height: 40px;
  box-sizing: border-box;
  color: rgb(130,131,134);
  padding: 20px 8px 0 16px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: .08em;

}

// need to refactor into item components
.server-member {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  color: rgb(130, 131, 134);
  padding: 8px 8px 8px 16px;
  width: 100%;

  .user-image {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    background-color: purple;
  }

  p {
    // width: 100%;
    margin-left: 10px;
  }
}



.server-member:hover {
  background-color: rgb(54, 57, 63);
}