.server-name {
  background-color: #000;
  border-radius: 5px;
  color: hsla(0, 0%, 100%, .9);
  font-size: 14px;
  font-weight: 500;
  left: 58px;
  line-height: 14px;
  padding: 8px 11px;
  position: absolute;
  top: 9px;
  visibility: hidden;
}

.server-ul {
  display: block;
}

.server-ul a {
  background: #0d0e0f;
  background-color: rgb(53, 57, 63);
  border-color: #535559;
  border-radius: 50%;
  border-width: 1px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 40px;
  font-weight: 300;
  height: 50px;
  line-height: 100%;
  margin-top: 8px;
  outline: none;
  text-align: center;
  transition: border-radius .5s ease;
  width: 50px;
}

.server-ul a:hover {
  background-color: #7289da;
  border-color: white;
  border-radius: 15px;
}

a:hover .server-name,
button:hover .server-name {
  visibility: visible;
}

.server-add-button,
.logout-button {
  background: #202225;
  border-color: #535559;
  border-radius: 50%;
  border-style: dashed;
  border-width: 1px;
  color: #535559;
  cursor: pointer;
  display: table-cell;
  font-size: 40px;
  font-weight: 300;
  height: 50px;
  line-height: 100%;
  margin-top: 8px;
  outline: none;
  text-align: center;
  transition: border-color .5s ease, color .5s ease, opacity .5s ease;
  vertical-align: middle;
  width: 50px;
}

.logout-button {
  border-style: double;
}