.server-index {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: rgb(54,57,63);
  // overflow-y: scroll;
  // overflow-x: visible;
}

.server-index::-webkit-scrollbar {
  display: none;
}

.server-sidebar {
  box-sizing: border-box;
  height: 100%;
  background-color: #202225;
  width: 70px;
  padding: 10px;
}

.server-add-button:hover, .logout-button:hover {
  opacity: .7;
  border-color: #fff;
  color: #fff;
}


.server-split {
  background: #2f3136;
  height: 2px;
  width: 30px;
  margin: 11px auto;
  margin-bottom: 10px;
}

.server-ul {
  background-color: #202225;
}
.server-ul a {
  height: 100%;
  width: 100%;
  display: block;
}