.server-detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
//Channel block

.channel-block {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  background-color: #2f3136;
  width: 240px;
  padding: 10px;
}

.channel-header{
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  border-bottom: 1px solid #232428;
  height: 55px;
  width: 240px;
  
}

.channel-header:hover {
  background-color: rgba(0,0,0,.1);
}

.channel-list {
  color: #72767d;
  padding-right: 8px;
  height: 100%;
  margin-top: -1px;
  padding-top: 28px;
}

// Content block
.content-block {
  display: flex;
  flex-direction: column;

  width: 100%;
  background-color: rgb(54, 57, 63);
}

.content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #292c30;
  width: 100%;
  height: 50px;
  background-color: #36393f;
  justify-content: left;
  padding: 0 8px 0 12px;

  h1 {
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.message-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(54, 57, 63);
}

.message-feed {
  width: 100%;
  height: 100%;
  background-color: #36393f;
}

.message-input {
  background-color: #36393f;
  padding: 0 20px;
}

.server-members {
  width: 200px;
  background-color: rgb(46, 49, 54);
  height: 100%;
}

.message-form {
  display: flex;
  border-top: 1px solid #42454a;
  padding: 20px 0 30px;

}

