
.react-modal{
  width: 540px;
  height: 420px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 100px auto;
  text-align: center;
  vertical-align: baseline;
  border-radius: 5px;
  background-color: white;
  color: #99aab5;
  line-height: 16px;
}

.default-modal h1{
  color: rgb(103, 123, 196);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 6px;
}
.react-modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.75);

}

.default-modal {
  height: 540px;
  width: 420px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 28px 40px 0 40px;
  vertical-align: baseline;
}

.buttons {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttons button {
  border-radius: 3px;
  width: 220px;
  height: 290px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
}

.buttons .or {
  width: 50px;
  height: 50px;
  display: float;
  z-index: 200;
}


.create-server-button:hover .fake-button,
.join-server-button:hover .fake-button {
  opacity: 1;
}

.buttons button h2 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.create-server-button h2 {
  color: #7289da;
}

.join-server-button h2 {
  color: #3ca374;
}
.fake-button {
  border-radius: 2px;
  padding: 14px 20px;
  color: white;
  opacity: .7;
  outline: 0;
  font-weight: 400;
  border: none;
  
}

.buttons button p {
  text-align: center;
  color: 99aab5;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
  padding: 0 15px;

}

.create-server-button .fake-button {
  background-color: rgb(103,123,196);
}

.join-server-button .fake-button {
  background-color: rgb(54,147,104);
}



// Create Server modal form

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  width: 540px;
  height: 420px;
  border-radius: 5px;
}

.create-div {
  padding: 34px 40px 0;
}

.create-div h5{
  color: #7289da;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.create-div p {
  color: #99aab5;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 18px;
  padding: 10px 0;
}

.create-inputs {
  // width: 240px;
}

.create-inputs input {
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border-bottom-color: #f0f0f0;
  border-width: 0 0 2px 0;
  background: transparent;
  padding: 10px 4px;
  width: 100%;
  color: #2f3136;
}

.create-inputs input:hover {
  border-color: #b9bbbe;
}
.create-inputs input:focus {
  border-color: #7289da;
}

.create-inputs input::placeholder {
  color: #c5c5c5;
}

.create-inputs label {
  color: #87909c;
  font-size: 11px;
  font-weight: 700;
}

.create-buttons {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  border-radius: 0 0 5px 5px;
  background-color: #f6f6f6;
}

.create-buttons button {
  display: flex;
  align-items: center;
  background: transparent;
  color: #99aab5;
  font-size: 14px;
  font-weight: 400;
  border: 2px solid transparent;
}

.create-buttons button:hover {
  border-bottom: 2px solid #b9bbbe;
}

.create-buttons input {
  height: 38px;
  width: 96px;
  background-color: #7289da;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  border: none;
}

.create-buttons input:hover {
  background-color: #677bc4;
}


// Join server Modal