.server-index {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: rgb(54,57,63);

}
.server-sidebar {
  box-sizing: border-box;
  height: 100%;
  background-color: #202225;
  width: 70px;
  padding: 10px;
}

.channel-block {
  box-sizing: border-box;
  background-color: rgb(46,49,54);
  width: 270px;
  padding: 10px;
}

.content-block {
  display: flex;
  flex-direction: column;

  width: 100%;
  background-color: rgb(54,57,63);
}

.content-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: white;
  justify-content: left;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.message-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(54,57,63);
}

.message-feed {
  width: 100%;
  height: 100%;
  background-color: purple;
}

.message-input {
  background-color: red;
  width: 100%;
  height: 50px;
}

.server-members {
  width: 200px;
  background-color: rgb(46,49,54);
  height: 100%;
}



.server-add-button:hover, .logout-button:hover {
  opacity: .7;
  border-color: #fff;
  color: #fff;
}


.server-split {
  background: #2f3136;
  height: 2px;
  width: 30px;
  margin: 11px auto;
  margin-bottom: 10px;
}

.server-ul a {
  display: block;
}