.server-name {
  visibility: hidden;
  position: absolute;
  // display: float;
  top: 9px;
  left: 58px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding: 8px 11px;
  background-color: #000;
  color: hsla(0, 0%, 100%, .9)
}

.server-ul {
  display: block;
}

.server-ul a {
  margin-top: 8px;
  background: #0d0e0f;
  background-color: #7289DA;
  border-color: #535559;
  cursor: pointer;
  border-radius: 50%;
  border-width: 1px;
  font-size: 40px;
  font-weight: 300;
  height: 50px;
  line-height: 100%;
  text-align: center;
  transition:  border-radius .25s ease;
  width: 50px;
  color: #535559;
  outline: none;
}

.server-ul a:hover {
  border-radius: 15px;
  border-color: white;
}
.server-ul .home-link {
  border-radius: 15px;
}
a:hover .server-name, button:hover .server-name {
  visibility: visible;
}

.server-add-button,
.logout-button {
  margin-top: 8px;
  background: #202225;
  border-color: #535559;
  cursor: pointer;
  border-radius: 50%;
  border-style: dashed;
  border-width: 1px;
  font-size: 40px;
  font-weight: 300;
  height: 50px;
  line-height: 100%;
  text-align: center;
  transition: border-color .25s ease, color .25s ease, opacity .25s ease;
  width: 50px;
  color: #535559;
  outline: none;
}

.logout-button {
  border-style: double;
}