/* Splash Page */
.splash {
  color: rgb(226, 226, 226);
  min-width: 1000px;
}

/* navbar */
.Navbar {

}

.navLogo {
  display: flex;
  align-items: center;
  position: relative;
  width: 131px;
  margin-right: 12px;
  
}

.navLeft {

}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center
}
/* hero */
.hero{
  font-family: 'Whitney', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.heroHeader {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;

}

.hero p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
  line-height: 24px;
}

.heroButtons {
  display: flex;
  justify-content: center;
}
.discordLink {
  background-color: #7289DA;
  /* width: 250px;
  height: 45px;
  text-align: center;
  display: block; */
  font-family: Whitney,
  Helvetica Neue,
  Helvetica,
  Arial,
  sans-serif;
}
.navRight {

}

/* splash images */
.splashImages {
display: flex;
position: relative;
align-items: flex-end;
justify-content: center;
height: 638px;
width: 100%;
}

.splashImages img {
  position: absolute;
}

.splash-shadow {
  background-color: rgba(0, 0, 0, .1);
  border-radius: 50px;
  height: 50px;
  width: 1300px;
}

.splashShape {
  opacity: .3;
}

.dot0 {
  top: 0px;
  left: 634px;
}

.dot1 {
  top: 0px;
  right: 383px;
}

.dot2{
  top: 100px;
  right: 733px;
}

.dot3{
  bottom: 200px;
  left: 354px;
}

.dot4 {
  bottom: 140px;
  right: 293px;
}

.x0 {
  top: 90px;
  left: 374px;
}

.x1 {
  bottom: 220px;
  right: 373px;
}

.o0 {
  top: 70px;
  left: 594px;
}

.o1 {
  bottom: 88px;
  left: 754px;
}

.o2 {
  bottom: 280px;
  right: 338px;
}

.tri0 {
  top: 50px;
  left: 984px;
}

.tri1 {
  top: 152px;
  left: 664px;
}

.tri2 {
  bottom: 300px;
  left: 374px;
}

.square0 {
  top: 0px;
  right: 583px;
}

.square1 {
  top: 200px;
  right: 483px;
}

.square2 {
  bottom: 92px;
  left: 970px;
}

.coin0 {
  top: 24px;
  right: 793px;
}

.coin1 {
  top: 253px;
  left: 525px;
}

.android {
  bottom: 10px;
  left: 405px;
}
.vial {
  bottom: 10px;
  left: 344px;  
}

.iphone {
  bottom: 10px;
  left: 550px;
}

.controller {
  bottom: 10px;
  left: 700px;
}

.monitor {
  bottom: 10px;
}

.laptop {
  bottom: 10px;
  right: 348px;
}

.headphones {
  bottom: 176px;
  height: 200px;
  right: 560px;
}

.bomb {
  top: 217px;
  left: 472px;
}

.shield {
  bottom: 10px;
  right: 305px;
}

.spawnerbox {
  bottom: 462px;
  left: 714px;
}

.cartridge {
  top: 142px;
  right: 611px;
}

/* footer */


/* Animations */

/* @keyframes UpAndDown {

  0%,
  100% {
    transform: translate(0px, -5px);
  }

  50% {
    transform: translate(0px, 5px)
  }
}

.splash-page-wrapper {
  min-width: 1000px;
  background: #26262b;
}

header {
  box-sizing: border-box;
  height: 72px;
  padding: 8px 0;
  width: 100%;
}

.splash-header-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 30px;
  font-size: 14px;
  color: #fff;
}

.splash-header-logo {
  width: 131px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  position: relative;
}

.splash-header-logo img {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -21px;
}

.splash-header-nav {
  display: flex;
  list-style: none;
  min-height: 56px;
  align-items: center;
}

.splash-header-nav li {
  transition: 0.1s ease-out;
  padding: 15px 10px;
  text-decoration: none;
  margin-right: 8px;
  opacity: .8;
  position: relative;
}

.splash-header-nav li:hover {
  transition: 0.1s ease-in;
  opacity: 1;
  color: #fff;
}

.splash-drop-down-arrow {
  margin-left: 5px;
  position: relative;
  top: -1px;
}

#splash-wiki-page-link {
  cursor: default;
}

.splash-wiki-drop-down-hidden {
  opacity: 0;
  transform: scale(.9) translateY(-10px);
  visibility: hidden;
}

#splash-wiki-drop-down {
  list-style: none;
  background: #fff;
  border-radius: 4px;
  font-size: 13px;
  left: 0;
  min-width: 150px;
  position: absolute;
  top: 45px;
  transform-origin: 50% 0;
  transition: opacity .125s, transform .125s, visibility .125s;
  cursor: pointer;
}

#splash-wiki-drop-down li {
  color: black;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  color: #99AAB5;
}

#splash-wiki-drop-down li:hover {
  background-color: #eee;
  color: #2C2F33;
}

.splash-header-nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
}

.splash-header-nav-right li {
  cursor: pointer;
  padding: 15px 10px 15px 0;
  margin-right: 8px;
  opacity: .8;
  transition: 0.1s ease-in;
}

.splash-header-nav-right li i {
  font-size: 18px;
}

.splash-header-nav-right li:hover {
  opacity: 1;
  transition: 0.1s ease-in;
}

.splash-app-button {
  border: 2px solid hsla(0, 0%, 100%, .8);
  border-radius: 20px;
  color: #fff;
  line-height: 24px;
  padding: 5px 17px 7px;
}

.splash-app-academy {
  padding: 13px 0;
}

.splash-line {
  display: block;
  background-color: hsla(0, 0%, 100%, .2);
  border-radius: 1px;
  height: 14px;
  margin-right: 12px;
  width: 2px;
}

Section - Content */
/* section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.splash-content {
  box-sizing: border-box;
  padding: 72px 50px 0;
  color: #fff;
}

.splash-theme-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.splash-blurb {
  opacity: .6;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 30px;
  max-width: 710px;
}

.splash-buttons-wrapper {
  display: flex;
  justify-content: center;
}

.splash-download {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  height: 45px;
  margin-right: 40px;
  border-radius: 3px;
  background-color: #fff;
  color: #18191c;
  width: 250px;
  text-decoration: none;
  transform: translateY(-1px);
  transition: all .35s cubic-bezier(.25, .25, .315, 1.35);
}

.splash-download:hover {
  transform: translateY(0);
}

.splash-open-discord {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 15px;
  background-color: #7289da;
  color: #fff;
  font-weight: 500;
  height: 45px;
  width: 250px;
  cursor: pointer;
  transform: translateY(-1px);
  transition: all .35s cubic-bezier(.25, .25, .315, 1.35);
}

.splash-open-discord:hover {
  transform: translateY(0);
}

/* Splash Image */

/* .splash-image {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  height: 638px;
  width: 100%;
}

.splash-image img {
  position: absolute;
}

.splash-shadow {
  background-color: rgba(0, 0, 0, .1);
  border-radius: 50px;
  height: 50px;
  width: 1300px;
}

.splash-shape {
  opacity: .3;
}

.splash-triangle1 {
  bottom: 300px;
  left: 374px;
}

.splash-triangle2 {
  top: 50px;
  left: 984px;
}

.splash-triangle3 {
  top: 152px;
  left: 664px;
}

.splash-dot1 {
  top: 0px;
  left: 634px;
}

.splash-dot2 {
  right: 383px;
  top: 0px;
}

.splash-dot3 {
  top: 100px;
  right: 733px;
}

.splash-dot4 {
  bottom: 200px;
  left: 354px;
}

.splash-dot5 {
  bottom: 140px;
  right: 293px;
}

.splash-square1 {
  top: 0px;
  right: 583px;
}

.splash-square2 {
  top: 200px;
  right: 483px;
}

.splash-square3 {
  bottom: 92px;
  left: 970px;
}

.splash-x1 {
  left: 374px;
  top: 90px;
}

.splash-x2 {
  bottom: 220px;
  right: 373px;
}

.splash-circle1 {
  top: 70px;
  left: 594px;
}

.splash-circle2 {
  right: 338px;
  bottom: 280px;
}

.splash-circle3 {
  bottom: 88px;
  left: 754px;
}

.splash-desktop {
  bottom: 10px;
}

.splash-controller {
  bottom: 10px;
  left: 698px;
}

.splash-coin1 {
  animation: UpAndDown 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  top: 24px;
  right: 793px;
}

.splash-coin2 {
  animation: UpAndDown 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  top: 253px;
  left: 525px;
}

.splash-bomb {
  animation: UpAndDown 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation-delay: .5s;
  top: 217px;
  left: 472px;
}

.splash-cartridge {
  animation: UpAndDown 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  top: 147px;
  right: 611px;
}

.splash-mario {
  top: 86px;
  left: 714px;
}

.splash-potion {
  bottom: 10px;
  left: 344px;
}

.splash-android {
  bottom: 10px;
  left: 405px;
}

.splash-iphone {
  bottom: 10px;
  left: 551px;
}

.splash-laptop {
  bottom: 10px;
  right: 348px;
}

.splash-headphones {
  height: 200px;
  bottom: 176px;
  right: 560px;
}

.splash-shield {
  bottom: 10px;
  right: 311px;
}

footer p {
  font-size: 12px;
  color: #99AAB5;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
} */