#root {
  background-color: #26262B;
}

@keyframes bounce {

  0%,
  100% {
    transform: translate(0px, -5px);
  }

  50% {
    transform: translate(0px, 5px);
  }
}



/* Splash Page */
.splash {
  background-color: #26262b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 1000px;
}



/* navbar */
ul {
  display: flex;
  flex-direction: row;
}

ul,
ol {
  list-style-type: none;
}

.Navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 150px 0 150px;
  padding-top: 8px;
}

.header {
  margin-bottom: 90px;
}

.navLeft li,
.navRight li {
  align-items: center;
  display: flex;
  justify-content: center;
}

li a {
  color: white;
  margin-right: 8px;
  margin-top: 8px;
  opacity: .8;
  padding: 5px;
  padding-top: 0px;
  text-decoration: none;
}

li a:hover {
  opacity: 1;
}

.navLogo {
  align-items: center;
  display: flex;
  margin-right: 12px;
  margin-top: 8px;
  position: relative;
  width: 142px;
}

.loginButton {
  border: 2px solid hsla(0, 0%, 100%, .8);
  border-radius: 20px;
  color: white;
  font-size: 13px;
  line-height: 24px;
  margin-right: 18px;
  margin-top: 13px;
  opacity: .8;
  padding: 5px;
  padding: 5px 17px 7px;
  vertical-align: baseline;
}

.loginButton:visited,
.loginButton:hover {
  opacity: 1;
}



/* MAIN CONTENT */
.mainContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


/* hero */
.heroHeader {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.hero p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  opacity: .5;
}

.heroButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.repo-link,
.discordLink {
  border: 2px;
  border-radius: 3px;
  box-sizing: content-box;
  display: inline-flex;
  display: block;
  height: 35px;
  line-height: 35px;
  margin: 0 10px 0 10px;
  padding: 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 240px;
}

.repo-link,
.repo-link:visited {
  background-color: #fff;
  color: #000;
}

.repo-link:hover,
.discordLink:hover {
  top: 1px;
}

.discordLink,
.discordLink:visited {
  background-color: #7289DA;
  color: #fff;
}





/* splash images */
.splashImages {
  align-items: flex-end;
  display: flex;
  height: 638px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.splashImages img {
  position: absolute;
}

.splash-shadow {
  background-color: rgba(0, 0, 0, .1);
  border-radius: 50px;
  height: 50px;
  width: 1300px;
}

.splashShape {
  opacity: .3;
}

.dot0 {
  left: 634px;
  top: 0px;
}

.dot1 {
  right: 383px;
  top: 0px;
}

.dot2 {
  right: 733px;
  top: 100px;
}

.dot3 {
  bottom: 200px;
  left: 354px;
}

.dot4 {
  bottom: 140px;
  right: 293px;
}

.x0 {
  left: 374px;
  top: 90px;
}

.x1 {
  bottom: 220px;
  right: 373px;
}

.o0 {
  left: 594px;
  top: 70px;
}

.o1 {
  bottom: 88px;
  left: 754px;
}

.o2 {
  bottom: 280px;
  right: 338px;
}

.tri0 {
  left: 984px;
  top: 50px;
}

.tri1 {
  left: 664px;
  top: 152px;
}

.tri2 {
  bottom: 300px;
  left: 374px;
}

.square0 {
  right: 583px;
  top: 0px;
}

.square1 {
  right: 483px;
  top: 200px;
}

.square2 {
  bottom: 92px;
  left: 970px;
}

.coin0 {
  animation: bounce 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  right: 793px;
  top: 24px;
}

.coin1 {
  animation: bounce 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  left: 525px;
  top: 253px;
}

.android {
  bottom: 10px;
  left: 405px;
}

.vial {
  bottom: 10px;
  left: 344px;
}

.iphone {
  bottom: 10px;
  left: 550px;
}

.controller {
  bottom: 10px;
  left: 700px;
}

.monitor {
  bottom: 10px;
}

.laptop {
  bottom: 10px;
  right: 348px;
}

.headphones {
  bottom: 176px;
  height: 200px;
  right: 560px;
}

.bomb {
  animation: bounce 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  animation-delay: .4s;
  left: 472px;
  top: 217px;
}

.shield {
  bottom: 10px;
  right: 305px;
}

.spawnerbox {
  bottom: 462px;
  left: 714px;
}

.cartridge {
  animation: bounce 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  right: 611px;
  top: 142px;
}



/* footer */
.splash-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 150px 0 150px;
}

.splash-footer div {
  font-size: 12px;
  margin-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
}

.footerRegister {
  background-color: #7289DA;
  border: 0;
  border-radius: 3px;
  box-sizing: content-box;
  color: #fff;
  display: inline-flex;
  display: block;
  font-size: 14px;
  font-weight: 350;
  height: 15px;
  line-height: 15px;
  margin: 0;
  padding: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 90px;
}

.footerRegister:hover {
  bottom: 1px;
}

.splash-footer div h2 {
  color: #fff;
  font-size: 26px;
  line-height: 34px;
}

.splash-footer div h3 {
  color: #99aab5;
  font-size: 14px;
  margin-top: 4px;
}
